<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73583484631-8nj25cvm5stvstomvqhiejpfih75jvnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73583484631-8nj25cvm5stvstomvqhiejpfih75jvnl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73583484631-jekpiec77thr6vd2ci0r7kk2t7l12epe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtU4Bu_uZmqnDQJi8FWVo7zeyTu4r9ykg</string>
	<key>GCM_SENDER_ID</key>
	<string>73583484631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.WellConnect.wellconnect-live</string>
	<key>PROJECT_ID</key>
	<string>welconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>welconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73583484631:ios:78f70ede29b893b08b1a92</string>
</dict>
</plist>